
/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
*/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.tranperency {
  opacity: 0.5;
}
.transbox {
  margin: 30px;
  background-color: rgb(211, 203, 203);
  opacity: 0.6;
}
.transbox a {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.App-link {
  color: #09d3ac;
}

.header-img {      
  float: left;
  width: 100px;
  height: 100px;
  border-color: rgb(23, 42, 4);
  border-radius: 50px;
  border-width: 5px;
  border-style: solid;
  box-shadow:black;
  
}


#img-margin{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#margin{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  max-width: 100%;
  height: 120px;
  background-color:rgb(144, 207, 246);
  text-align: center;
  padding-top: 20px;
}

#margin1{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  max-width: 100%;
  height: 80px;
  background-color:rgb(144, 207, 246);
  text-align: center;
  padding-top: 20px;
}

#side_margin{
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  max-width: 90%;
}

.alertCol{
  width: 250px;
  padding-left: 20px;

  
}
#Covid_Info{
  text-align: justify;
  padding-left: 30px;
  max-width: 100%;
  margin-right: 0px; 
}

#colsetting{
  padding-top: 40px;
}
#headerLink{
  padding-top: 60px;
  font-size: large;
  color: black;
}
.image_gradient{
  height:250px;
  border: 1px solid black;
}
.sidebar{
  column-width:80px;
  background-color: rgb(157, 233, 157);
}
.Child_text{
  padding-top: 35px;
  font-size: 20px;
}
.a {
  color:#0f0f0f;
  font-weight: 700;
  }
.bigger{
  width:100%;
  height:200px;
  background-size:cover;
  background-position:center;
  position:relative;
  border-style: solid;
  box-shadow:black;
}
.smaller{
  width:100%;
  height:50px;
  position:absolute;
  background-color:rgba(0,0,0,0.6);
  bottom:0;
  text-align:center;
  color:rgb(249, 255, 255);
}

#image1{
  background-image:url('./components/home/Images/under3Years.png');
  }
#image2{
  background-image:url('./components/home/Images/Age3To6Years.png');
}

#image3{
  background-image:url('./components/home/Images/Age6To15Years.jpg');
}

#image4{
  background-image:url('./components/home/Images/Age15To21Years.png');
}

#colour{
  background-image: linear-gradient(lightblue,rgba(252, 70, 107, 100));
  max-width: 50%;
}

#image5{
background-image:url('./components/home/Images/InternationalStudents.png');
}
button.btn.btn-primary {
  margin: 20px;
}

.hrset
{
  border-color:lightgrey;
  
  width: 70%;
}

.aboutus-Setting{
  font-size: large;
  padding-left: 40px;
  text-align: center; 
  font-family: cursive;
  padding-top: 30px; 
 }
 .avatar {
    max-width: 100px;   
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    border-width: 3px; 
    image-resolution: 400%;
  }

  .aboutUs-Container{
    padding-top: 40px;
   
  }

  #img-margin{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  @media screen and (max-width: 400px){
    .header-name{
      padding-top: 30px;
    text-align: center;
     align-self: flex-start;
    
     }
   
     #headerLink{
       padding-top: 60px;
       font-size: small;
       color: black;
      }
   
      #margin{
       margin-left: 0px;
       margin-right: 0px;
       margin-top: 10px;
       margin-bottom: 0px;
       max-width: 100%;
       height: 90%;
       background-color:rgb(144, 207, 246);
       padding-top: 2%;
       display: inline-block;
       font-size: small;
       image-resolution: 200px;
   
     }
   
    
     .bigger{
       width:60%;
       height:80px;
       background-size:cover;
       background-position:center;
       position:relative;
       border-style: solid;
       box-shadow:black;
     }

   
   @media only screen and (min-width: 400px)  {
     
  }

    .header-name{
     text-align: center;
      font-size: xx-large;
      align-self: flex-start;
      padding-top: 30px;
      }

     #margin{
       margin-left: 0px;
       margin-right: 0px;
       margin-top: 10px;
       margin-bottom: 0px;
       max-width: 100%;
       height: 120%;
       background-color:rgb(144, 207, 246);
        padding-top: 2%;
       display: inline-block;
       font-size:medium;
     }
     #headerLink{
      padding-top: 60px;
      font-size: medium;
      color: black;
     }
   }

   #about-image{
    background-image:url('./components/home/aboutUs.jpg');
    }
    
  
  
  .dissusionForum {
    font-style: cursive;
    text-align: center;
    background-color: rgb(184, 243, 184);
    max-width: 100%;
  }

  h5{
    margin-top: 20px !important;
  }
 
